{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <ul class="nav" style="margin-bottom: 1em;">
      {% for category in categories %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' category.slug %}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="container">
      <div class="card-deck justify-content-center" style="display: flex">
          {% for listing in listings %}
            {% if listing.active_status == True %}
            <div class="col-md-4" style="margin-bottom: 2em;">
              <div class="card h-100">
                <img src="{{ listing.image_url }}" style="height: 40vh">
                <div class="card-body">
                  <h5 class="card-title">{{ listing.title }}</h5>
                  <h6 class="card-text">Current Price: {{ listing.bid }}</h6>
                  <p class="card-text">{{ listing.description }}</p>
                  <a href="{% url 'listing' listing.id %}" method="POST" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            {% endif %} 
          {% empty %}
          <h6 class="mx-auto" style="margin-top: 3em; font-size: medium; font-weight: bold;">No active listings in this category</h6>
          {% endfor %}
      </div>
    </div>



{% endblock %}
