{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'create' %}" method="POST" style="margin-top: 25px">
      {% csrf_token %}
      <label for="category">Category: </label>
      <select name="category" required>
        <option value="" disabled selected hidden>Select...</option>
        {% for category in categories %}
          <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="descripion">Title: </label>
      <input value="{{ title }}" id="title" name="title">
      <br>
      <label for="descripion">Description: </label>
      <br>
      <textarea id="description" name="description" rows="3" cols="10" style="height: 35vh; width: 45vw; margin-bottom: 10px; margin-top: 10px">{{ description }}</textarea>
      <br>
      <label for="image_url">Image Link: </label>
      <input name="image_url">
      <br>
      <label for="starting_bid">Starting Bid: </label>
      <input name="starting_bid">
      <br>
      <input type="submit" value="Submit">
    </form>
{% endblock %}
