{% extends "auctions/layout.html" %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="card">
          <div class="card-header">

            {% if listing in watchlist %}
            <form action="{% url 'watchlist_remove' listing.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Remove from Watchlist">
            </form>
            {% endif %}

            {% if listing not in watchlist %}
            <form action="{% url 'watchlist_add' listing.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Add to Watchlist">
            </form>
            {% endif %}

          </div>
          <div class="card-img-bottom">
            <img src="{{ listing.image_url }}">
          </div>
        </div>
      </div>
      <div class="col col-lg-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.description }}</p>
          </div>
          <ul class="list-group list-group-flush" id="accordian">
            <li class="list-group-item">Listed by: <a href="">{{ listing.listing_user }}</a></li>
            <li class="list-group-item">Category: <a href="">{{ listing.category }}</a></li>
            <li class="list-group-item">
              Details
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-auto">
        <div class="card">
          {% if user == listing_user %}
          <div class="card-title font-weight-bold">Top Bid: {{ top_bid }}</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <form action="{% url 'accept_bid' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Close Auction">
              </form>
            </li>
            <li class="list-group-item">
              Bid History
              {% for bid in bids %}
                <table>
                  <tr>
                    <th>Date</th>
                    <th>Price</th>
                    <th>User</th>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>{{ bid.price }}</td>
                    <td>{{ bid.bid_user }}</td>
                  </tr>
                </table>
              {% endfor %}
            </li>
          </ul>
          {% else %}
            <div class="card-title font-weight-bold">Current Bid: {{ top_bid }}</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <form action="{% url 'place_bid' listing.id %}" method="POST">
                  {% csrf_token %}
                  <input id="bid_price" name="bid_price" placeholder="$0.00">
                  <input type="submit" value="Place Bid">
                </form>
              </li>
              <li class="list-group-item">
                Bid History
                {% for bid in bids %}
                  <table>
                    <tr>
                      <th>Date</th>
                      <th>Price</th>
                      <th>User</th>
                    </tr>
                    <tr>
                      <td>Date</td>
                      <td>{{ bid.price }}</td>
                      <td>{{ bid.bid_user }}</td>
                    </tr>
                  </table>
                {% endfor %}
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="col col-lg-2">
        <div class="card">
          <div class="card-header">
            <h5>Comments</h5>
          </div>
          <div class></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
